<div class="row">
  <div class="col-12 m-2">
    <img [src]="recipeToShow.imagePath" alt="{{recipeToShow.name}}" class="img-fluid" style="max-height: 320px">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1>{{recipeToShow.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="btn-group">
      <button class="btn btn-primary dropdown-toggle" id="dropdownmenuDetails" data-bs-toggle="dropdown"
              aria-expanded="false">
        Manage recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownmenuDetails">
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer"  (click)="sendIngredients()">Add ingredient to shopping list</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer" (click)="onEditRecipe()">Edit recipe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer" >Delete recipe</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    {{recipeToShow.description}}
  </div>
</div>
<div class="row">
  <div class="col-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipeToShow.ingredients">
        {{ingredient.name}} - {{ingredient.amount}}
      </li>
    </ul>
  </div>
</div>

<!--<div class="row">-->
<!--    <h1 *ngIf="recipeToShow;else selectRecipe">{{recipeToShow.name}}</h1>-->
<!--    <ng-template #selectRecipe><h3 >Select recipe</h3></ng-template>-->
<!--</div>-->
